.vscode
/build
/build_release
/build_postgres
/dist
/models
*.db
*.so
*.dylib
*.dll
*.whl
__pycache__/

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
